/* Inserta tu CSS aqui */
.div{
	background-color:#4d4d4d;
	width: 100px;
	height: 100px;
	border: solid 1px black;
	margin: 10px;
}
.contenedor{
	width:380px;
	height: 120px;
	border: solid 1px black;
	margin: 10px;
	padding: 10px;
	background-color:#4d4d4d; 
	}
.block{
	background-color: #4d4d4d;
	width: 100px;
	height: 100px;
	border: solid 1px black;
	margin: 10px;
	display: inline-block;
}
/*.linea{
	display: inline-block;
}*/